# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer
contracts:
  - name: GnosisSafeProxyPre1_3_0
    handler: src/EventHandlers.ts
    events:
      - event: ProxyCreation(address proxy)
        field_selection:
          transaction_fields:
            - hash
  # Safe event signatures are the same in v1.0.0, v1.1.1, and v1.2.0 so can use the same interface
  # https://github.com/safe-fndn/safe-smart-account/blob/v1.0.0/contracts/base/OwnerManager.sol
  # https://github.com/safe-fndn/safe-smart-account/blob/v1.1.1/contracts/base/OwnerManager.sol
  # https://github.com/safe-fndn/safe-smart-account/blob/v1.2.0/contracts/base/OwnerManager.sol
  - name: SafePre1_3_0
    handler: src/EventHandlers.ts
    events:
      - event: AddedOwner(address owner)
      - event: RemovedOwner(address owner)
      - event: ChangedThreshold(uint256 threshold)
  - name: GnosisSafeL2
    handler: src/EventHandlers.ts
    events:
      - event: SafeSetup(address indexed initiator, address[] owners, uint256 threshold, address initializer, address fallbackHandler)
        field_selection:
          transaction_fields:
            - hash
      - event: ExecutionSuccess(bytes32 txHash, uint256 payment)
      - event: ExecutionSuccess(bytes32 indexed txHash, uint256 payment)
        name: ExecutionSuccessV4
      - event: ExecutionFailure(bytes32 txHash, uint256 payment)
      - event: ExecutionFailure(bytes32 indexed txHash, uint256 payment)
        name: ExecutionFailureV4
      - event: SafeMultiSigTransaction(address to, uint256 value, bytes data, uint8 operation, uint256 safeTxGas, uint256 baseGas, uint256 gasPrice, address gasToken, address refundReceiver, bytes signatures, bytes additionalInfo)
        field_selection:
          transaction_fields:
            - hash
      - event: SafeModuleTransaction(address module, address to, uint256 value, bytes data, uint8 operation)
        field_selection:
          transaction_fields:
            - hash
      - event: AddedOwner(address owner)
      - event: AddedOwnerV4(address indexed owner)
        name: AddedOwnerV4
      - event: RemovedOwner(address owner)
      - event: RemovedOwner(address indexed owner)
        name: RemovedOwnerV4
  - name: GnosisSafeProxy1_3_0
    handler: src/EventHandlers.ts
    events:
      - event: ProxyCreation(address proxy, address singleton)
        field_selection:
          transaction_fields:
            - hash
  - name: GnosisSafeProxy1_4_1
    handler: src/EventHandlers.ts
    events:
      - event: ProxyCreation(address indexed proxy, address singleton)
        field_selection:
          transaction_fields:
            - hash
  - name: GnosisSafeProxy1_5_0
    handler: src/EventHandlers.ts
    events:
      - event: ProxyCreation(address indexed proxy, address singleton)
        field_selection:
          transaction_fields:
            - hash
networks:
  - id: 1 # ethereum
    start_block: 0
    contracts:
      - name: GnosisSafeProxyPre1_3_0
        address:
          - 0x12302fE9c02ff50939BaAaaf415fc226C078613C # 1.0.0
          - 0x76E2cFc1F5Fa8F6a5b3fC4c8F4788F0116861F9B # 1.1.1 and 1.2.0
      - name: SafePre1_3_0
      - name: GnosisSafeL2
      - name: GnosisSafeProxy1_3_0
        address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
      - name: GnosisSafeProxy1_4_1
        address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
      - name: GnosisSafeProxy1_5_0
        address: 0x14F2982D601c9458F93bd70B218933A6f8165e7b
  - id: 100 # gnosis
    start_block: 0
    contracts:
      - name: GnosisSafeProxyPre1_3_0
        address:
          - 0x12302fE9c02ff50939BaAaaf415fc226C078613C # 1.0.0
          - 0x76E2cFc1F5Fa8F6a5b3fC4c8F4788F0116861F9B # 1.1.1 and 1.2.0
      - name: SafePre1_3_0
      - name: GnosisSafeL2
      - name: GnosisSafeProxy1_3_0
        address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
      - name: GnosisSafeProxy1_4_1
        address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 10 # optimism
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 56 # bsc
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 137 # polygon
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 480 # worldchain
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 1101 # polygon zkevm
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 5000 # mantle
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 8453 # base
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 42161 # arbitrum
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 42220 # celo
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 43114 # avalanche
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 59144 # linea
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 81457 # blast
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 534352 # scroll
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 143 # monad
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 204 # opbnb
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 324 # zksync mainnet
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 999 # hyperevm
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
  # - id: 1313161554 # aurora
  #   start_block: 0
  #   contracts:
  #     - name: GnosisSafeL2
  #     - name: GnosisSafeProxy1_3_0
  #       address: 0xa6B71E26C5e0845f74c812102Ca7114b6a896AB2
  #     - name: GnosisSafeProxy1_4_1
  #       address: 0x4e1DCf7AD4e460CfD30791CCC4F9c8a4f820ec67
unordered_multichain_mode: true
preload_handlers: true
address_format: lowercase
# raw_events: true
