# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer
contracts:
  - name: GnosisSafeProxyPre1_3_0
    handler: src/EventHandlers.ts
    events:
      - event: ProxyCreation(address proxy)
        field_selection:
          transaction_fields:
            - hash  
  # Safe event signatures are the same in v1.0.0, v1.1.1, and v1.2.0 so can use the same interface
  # https://github.com/safe-fndn/safe-smart-account/blob/v1.0.0/contracts/base/OwnerManager.sol
  # https://github.com/safe-fndn/safe-smart-account/blob/v1.2.0/contracts/base/OwnerManager.sol
  # https://github.com/safe-fndn/safe-smart-account/blob/v1.1.1/contracts/base/OwnerManager.sol
  - name: SafePre1_3_0
    handler: src/EventHandlers.ts
    events:
      - event: AddedOwner(address owner)
      - event: RemovedOwner(address owner)
      - event: ChangedThreshold(uint256 threshold)
networks:
  - id: 1 # ethereum
    start_block: 0
    contracts:
      - name: GnosisSafeProxyPre1_3_0
        address: 0x12302fE9c02ff50939BaAaaf415fc226C078613C # 1.0.0
        address: 0x76E2cFc1F5Fa8F6a5b3fC4c8F4788F0116861F9B # 1.1.1 and 1.2.0      
      - name: SafePre1_3_0
  - id: 100 # gnosis
    start_block: 0
    contracts:
      - name: GnosisSafeProxyPre1_3_0
        address: 0x12302fE9c02ff50939BaAaaf415fc226C078613C # 1.0.0
        address: 0x76E2cFc1F5Fa8F6a5b3fC4c8F4788F0116861F9B # 1.1.1 and 1.2.0      
      - name: SafePre1_3_0
unordered_multichain_mode: true
preload_handlers: true
# raw_events: true
