# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer
contracts:
  - name: GnosisSafeL2
    handler: src/EventHandlers.ts
    events:
      - event: SafeSetup(address indexed initiator, address[] owners, uint256 threshold, address initializer, address fallbackHandler)
      - event: AddedOwner(address owner)
      - event: AddedOwnerV4(address indexed owner)
        name: AddedOwnerV4
      - event: RemovedOwner(address owner)
      - event: RemovedOwner(address indexed owner)
        name: RemovedOwnerV4
networks:
  - id: 1
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 10
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 100
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 56
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 137
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 480
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 1101
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 5000
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 8453
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 42161
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 42220
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 43114
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 59144
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 81457
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 534352
    start_block: 0
    contracts:
      - name: GnosisSafeL2
  - id: 1313161554
    start_block: 0
    contracts:
      - name: GnosisSafeL2
unordered_multichain_mode: true
preload_handlers: true
